@media (max-width: 1700px){
	.comment {
		width: 85%;
	}
}
@media (max-width: 1440px){
	.services_configurator__output{
		display: flex;
		justify-content: space-around;
	}

	.services_configurator__output > div{
		width: 40%;
	}

	.services_configurator__bottom-bar div{
		width: 25%;
	}
}

@media (max-width: 1230px){
	.about-us_text-2__advantages{
		flex-flow: column;
		height: auto;
	}
}

@media (max-width: 1200px){
	.comment{
	    width: 80vw;
		position: relative;
	}

	.comment_content{
		width: 100%;
	}
}

@media (max-width: 1120px){
	.header_section-2 h2{
		width: 100%;
	}

	.footer_wrap h2{
		margin-left: 0;
		margin-right: 40px;
	}
}

@media (max-width: 1110px){
	*{
		font-size: 16px;
	}

	.menu_media div:nth-child(2){
		font-size: 16px;
	}

	.header_section-1{
		margin: 0;
	}	
}

@media (max-width: 1000px){
	.arrow-control{
		display: none;
	}

	.about-us_text-1 p{
		width: 100%;
	}

	.services_content, .consult_content{
		width: auto;
	}

	.cost_content{
		width: 100%;
	}

	.comment_section{
		left: 0;
		font-size: inherit;
	}
}

@media (max-width: 900px){
	*{
		font-size: 14px;
	}

	.title{
		font-size: 35px;
	}

	.indent{
		padding-top: 0px;
	}

	.menu_right h2{
		line-height: 100%;
	}

	.header_wrap .burger_menu{
		margin: 10px 0 0 30px;
	}

	.about-us_text-1__title h3, .about-us_text-2__title h3{
	    font-size: 24px;
	}

	.services_configurator__bottom-bar{
		font-size: 13px;
	}

	.header_section-1__media{
		display: none;
	}

	.header_section-2 h2{
		font-size: 40px;
	}

	.header_section-2 p{
		font-size: 20px;
		width: 300px;
	}

	.comment_section__wrap {
		padding: 40px 30px;
	}

	.services_configurator__bottom-bar div{
		width: 36%;
	}
}

@media (max-width: 760px){
	.menu_right h2{
		margin-right: 50px;
	}

	.cost_table li{
		font-size: inherit;
	}

	.consult_content input{
		width: 100px;
	}

	.pop-up__wrapper form > div{
		flex-direction: column;
	}

	.pop-up__wrapper form input:nth-child(1){
		margin-right: 0;
	}

	.pop-up_title h2{
		text-align: center;
	    font-size: 30px;
	}
}

@media (max-width: 720px){
	.cost_content .indent{
		padding: 30px 10px 0 10px;
	}

	.comment_wrap .indent{
		padding: 30px 10px 0 10px;
	}
}

@media (max-width: 600px){
	.indent{
		padding: 30px 30px 0 0px;
	}

	.title{
		margin-left: 0px;
		margin-top: 0px;
		text-align: center;
	}

	.burger_menu svg {
		position: absolute;
	}

	.burger_menu > svg{
		top: -36px;
	}

	.menu{
		position: fixed;
		top: 0;
		z-index: 10;
		background: #C0CCD1;
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: space-between;
		transition: all .6s ease-in-out;
		color: white;
	}

	.menu_right li{
		margin-bottom: 0;
	}

	.menu_right li > a{
		font-size: 25px;
	}

	.header_wrap .burger_menu{
		margin: 30px 0 0 30px;
	}

	.header_section-2 p{
		font-size: 17px;
		margin: 10px 0 25px;
	}

	.services_wrap .burger_menu{
	    margin: 30px 0 0 30px;
	}

	.comment_wrap .burger_menu{
	    margin: 30px 0 0 30px;
	}

	.about-us_title{
		margin: 0px 0 20px;
	}

	.services_title{
		margin-top: 40px;
	}

	.services_title {
	    margin-bottom: 10px;
	}

	.services_configurator__output{
		margin: 30px 0 0;
	}

	.services_configurator__output > div {
		width: 100%;
		margin: 0 0px 20px;
	}

	.cost_table table > tr{
		padding: 10px 20px;
	}

	.cost_title {
	    margin-bottom: 20px;
	}

	.consult_title {
	    margin: 0 0 20px 0;
	}

	.cost_table td {
		font-size: inherit;
	}

	.comment {
	    width: 80vw;
    }

    .comment_section__wrap {
	    margin: 0px 10px;
	}

	.comment_section{
		left: 30px;
	}

	.comment_content > div h2 {
	    margin-bottom: 20px;
	}

	.footer_indent{
		padding: 1px;
	}

	.footer_wrap{
		margin: 0 0 80px 80px;
	}

	.footer_wrap h2{
		font-size: 25px;
	}

	.footer_title{
		margin: 0 0 200px;
	}

	.footer_title div{
		width: 80%;
	}
}

@media (max-width: 430px){
	.menu_right li{
		margin-bottom: 0;
	}

	.menu_right li > a{
		font-size: 18px;
	}
}

@media (max-width: 480px){
	*{
		font-size: 12px;
	}

	.indent {
	    padding: 30px 15px 0 0px;
	}

	.menu_right h2{
		line-height: 100%;
	}

	.menu_right h2 a{
		font-size: 34px;
	}

	.menu_btn-close img{
		height: 30px;
	}

	.pop-up__btn-close{
		height: 35px;
	}

	.menu_right h2{
		margin-right: 0;
	}

	.pop-up form {
		padding: 30px;
	}

	.pop-up input {
	    padding: 20px;
	}

	.header_section-1 h1{
		font-size: 16px;
	}

	.menu_adress p{
		max-width: 200px;
	}

	.header_adress p{
		max-width: 200px;
	}

	.header_section-2 {
	    margin: 50px 0 200px 0;
	}

	.header_section-2 h2 {
	    font-size: 30px;
	}

	.header_section-2 p {
	    width: 200px;
	}
	
	.header_section-3 button {
		width: 250px;
		font-size: inherit;
	}

	.about-us_text-2__advantages{
		margin-left: 0px;
	}

	.about-us_text-2__advantages li{
		white-space: nowrap;
		margin-right: 0;
	}

	.about-us_text-2__advantages li:nth-child(1):before{
		left: -10px;
	}
	.about-us_text-2__advantages li:nth-child(2):before{
		left: -10px;
	}
	.about-us_text-2__advantages li:nth-child(3):before{
		left: -10px;
	}
	.about-us_text-2__advantages li:nth-child(4):before{
		left: -10px;
	}
	.about-us_text-2__advantages li:nth-child(5):before{
		left: -10px;
	}

	.services_configurator__bottom-bar div{
		width: 100%;
	}

	.cost_table table > tr {
	    padding: 0px 15px;
	}

	.consult_content div input {
	    width: 10px;
	    padding: 15px 20px;
	    margin-bottom: 10px;
	}
	.consult_content div input:first-child {
	    margin-right: 10px;
	}

	.consult_content textarea{
	    padding: 15px 20px;
	}

	.comment_section{
		left: 0px;
	}

	.comment_section__wrap {
		margin: 0 5px;
	}

	.comment_section__client p {
	    font-size: 18px;
	}

	.comment_section__client div {
	    height: 40px;
	    width: 40px;
	}

	.footer_wrap h2 {
	    margin: 0px 0 40px 0px;
		padding: 0px 0 10px;
	}

	.footer_title{
	    margin: 0 0 150px;
	}

	.footer_wrap .title{
		text-align: left;
	}

	.copyright_text {
	    font-size: 9px;
	}
}